<nav class="sidebar">
  <div class="logo-area">
    <span class="logo-text">MYGO <strong>ELÉTRICA</strong></span>
  </div>
  
  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard-main" routerLinkActive="active">
        <span class="material-icons">dashboard</span> Início
      </a>
    </li>
    
    <li>
      <a routerLink="/historico" routerLinkActive="active">
        <span class="material-icons">history</span> Histórico
      </a>
    </li>

    <li *ngIf="userRole === 'USER'">
      <a routerLink="/quiz" routerLinkActive="active">
        <span class="material-icons">calculate</span> Gerar Valor de Serviço
      </a>
    </li>

    <li *ngIf="userRole === 'ADMIN'">
      <a routerLink="/reports" routerLinkActive="active">
        <span class="material-icons">bar_chart</span> Relatórios de Gestão
      </a>
    </li>
    
    <li *ngIf="userRole === 'ADMIN'">
      <a routerLink="/levantamento" routerLinkActive="active">
        <span class="material-icons">assignment</span> Novo Levantamento
      </a>
    </li>

    <li *ngIf="userRole === 'ADMIN'">
      <a routerLink="/config-precos" routerLinkActive="active">
        <span class="material-icons">settings</span> Tabela de Preços
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <button class="btn-logout" (click)="logout()">
      <span class="material-icons">logout</span> Sair
    </button>
  </div>
</nav>